.image {

    &--max-width-100 {
        max-width: 100%;
        height: auto;
    }

    &--width-100 {
        width: 100%;   
    }

    @mixin atLarge {
        &--width-medium-auto {
            width: auto;
            max-width: auto;
        }
    }

}