.row {

    @mixin atMedium {

        display: flex;

        &--margins > div {
        padding-right: 65px;
        }

        &--medium-4 {
            width: 33.33%;
        }

        &--medium-8 {
            width: 66.66%;
        }
    }

}