.title-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 1rem 0;


    &__title {
        font-size: 2.55rem;
        font-weight: 300;
        padding-top: 1rem;
        margin-top: 0;
    }

    &__title--blue {
        color: $mainBlue;
    }

    @mixin atSmall {
        flex-direction: row;

        &__icon {
            margin-right: 1rem;
        }
    
        &__title {
            margin-top: 2.5rem;
            font-size: 3.75rem;
        }
    
    }

    strong {
        font-weight: 500;
    }

}