.wrapper {
    padding: 0 1rem;
    max-width: 1232px;
    margin-left: auto;
    margin-right: auto;

    &--medium{
        max-width: 976px;
    }

    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    &--nopadding-small {
        padding-left: 0;
        padding-right: 0;
    }

        @mixin atMedium {
            &--nopadding-small {
                padding: 0 1rem;
            }
        }

    &--b-margin {
        margin-bottom: 1rem;

        @mixin atSmall {
            margin-bottom: 3.875rem;
        }
    }

}